<button (click)="Home()" class="btnVerde btn">Volver</button>
<div class="logo">
  <img src="logo.png" alt="logo de banco centauro" />
</div>

<div class="loginVisual" *ngIf="seRegistro">
  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
    <path class="checkmark__check" fill="none" d="M14 26l10 10 15-15" />
  </svg>
  <h2>Ha iniciado sesion en su cuenta correctamente</h2>
  <br />
  <p #personaHtml>Bienvenido/a {{ nombreM }}</p>
</div>

<div class="errorVisual" *ngIf="huboError" [class.salida]="!mostrarError">
  <svg class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none" />
    <path
      class="crossmark__cross"
      fill="none"
      d="M16 16 l20 20 M16 36 l20 -20"
    />
  </svg>
  <h2>Hubo un error</h2>
  <br />
  <p #errorHtml></p>
</div>

<div class="contenedorCarga" *ngIf="carga == true">
  <div class="loader" #contenedorCarga>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
  </div>
</div>

<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        #emailInput="ngModel"
        autocomplete="email"
        required
        class="form-control"
        [placeholder]="placeholderEmail"
      />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
        El nombre de usuario es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        #passwordInput="ngModel"
        required
        class="form-control"
        minlength="8"
        [placeholder]="placeholderPassword"
      />
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
        La contraseña es obligatoria.
      </div>
      <br />
    </div>

    <div class="parametros form-check">
      <input
        class="checkbox"
        type="checkbox"
        name="Recordarme"
        [(ngModel)]="recuerdame"
        id="Recordarme"
      /><label for="Recordarme">Recordarme</label>
      <br />
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="captcha"
        #captchaInput="ngModel"
        name="No soy un robot"
        id="Capcha"
        required
      /><label for="Capcha">No soy un robot</label>
      <br />
      <br />
      <a (click)="Backup()">¿Olvidaste tu contraseña?</a> <br />
      <a (click)="Signin()">Crear cuenta</a>
    </div>
    <div *ngIf="captchaInput" class="error"></div>
    <button type="submit" [disabled]="loginForm.invalid" class="btn btnSubmit">
      Iniciar sesión
    </button>
  </form>
</div>
