.estudiantes{
    text-align:center;
    background-color: #F6FCDF;
    overflow: hidden;
}
.estudiantes h1{
    padding: 4%;
    font-size: 4.5em;
}
.estudiantesBanner{
    padding: 3%;
    display: flex;
    text-align:left;
    align-items: center;
    justify-content: center;
    background-color: #31511E;
    margin: 30px;
    border-radius: 25px;
    color: #f6fcdf;
}

.estudiantesBannerTexto{
    padding-right: 4%;
}

.estudiantesBannerTexto h2{
    font-size: 2.4em;
}
.estudiantesBannerTexto strong{
    margin: 1%;
    font-size: 1.4em;
}
.estudiantesImgBanner{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estudiantesImgBanner img{
    width: 100%;
    border-radius: 25px;
}

.btnTarjetaEstudiantes{
    border-radius: 10px;
    background-color: #859F3D;
    font-size: 20px;
}