<section class="estudiantes">
  <h1>{{ 'estudiantes.title' | translate }}</h1>
  <section class="estudiantesBanner">
    <div class="estudiantesBannerTexto">
      <p>{{ 'estudiantes.description' | translate }}</p>
      <button class="btnTarjetaEstudiantes btn" (click)="solicitudTarjetaEstudiantes()">
        {{ 'estudiantes.button' | translate }}
      </button>
    </div>
    <div class="estudiantesImgBanner">
      <img src="tarjeta estudiantes.png" alt="Persona Feliz En Banco">
    </div>
  </section>
</section>
