ul{
    display: flex;
    padding-left:0;

}
li{
    margin: 5px;
    padding: 5px;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.5s;
    list-style: none;
}
li:hover{
    transform:scale(105%);
    transition: 0.5s;
}