ul{
    display: grid;
    padding-left:0;
    grid-template-columns: repeat(
        auto-fit,
        minmax(80px, 1fr)
    );
}
li{
    margin: 5px;
    padding: 5px;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.5s;
    list-style: none;
}
li:hover{
    transform:scale(105%);
    transition: 0.5s;
}