body{
    margin: 0;
}
.header{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    justify-content: space-around;
    gap: 50px;
    background-color: #859F3D;
    position: sticky;
    top: 0;
    box-shadow: 0 0 3px 2px #859F3D,
    0 1px 10px 1px #1A1A19;
}

app-user{
    margin: auto;
}
  
.headerCasa, .headerLogo{
    width: 55px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.headerCasa{
    width: 55px;
}
.headerCasa img, .headerLogo img{
    width: 100%;
    position: sticky;
}

ul{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
ul li{
    padding: 25px;
    margin: 0 auto;
    list-style: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.5s;
    font-weight: 600;
    color: #1A1A19;

}
ul li:hover{
    transform: scale(105%);
    transition: 0.5s ease;

}

/*Mision y vision*/

.valores{
    display: grid;
}

.mision, .vision{
    font-size: 3em;
    background-color: #859F3D;
    border-radius: 25px;
}

.selected{
    transform: scale(105%);
    transition: 0.2s ease;
    position: relative;
}
.selected::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3%;
    border-radius: 15px;
    top: 80%;
    left: 0;
    animation: aparecer 0.2s;
    background-color: #1A1A19;
}


@keyframes aparecer {
    0%{
        transform: scale(0);
    }
    100%{
        transform:scale(1);
    }
}