
<header class="header">
    <div class="headerLogo"><img src="logo.png"></div>
    <nav>
      <ul>
        <li [ngClass]="{ 'selected': item.getSelectedItem() === 'services' || item.getSelectedItem() == 'creacion-productos'}" (click)="Services()">Servicios</li>
        <li [ngClass]="{ 'selected': item.getSelectedItem() === 'products'}" (click)="Products()">Productos</li>
        <app-user></app-user>
      </ul>
    </nav>
    <div class="headerCasa"><img src="casa.png" (click)="Home()" style="cursor: pointer;" ></div>
</header>