<section class="products">
    <h1>Bienvenido a banco centauros!</h1>
    <section class="productsBanner">
      <div class="productsBannerTexto">
        <img src="" alt="">
        
            <div class="imgBanner">
                <img src="tarjeta estudiantes.png" alt="Persona Feliz En Banco">
            </div>
            <div class="imgBanner">
                <img src="tarjeta plus.png" alt="Persona Feliz En Banco">
            </div>
            <div class="imgBanner">
                <img src="Tarjeta Premium.png" alt="Persona Feliz En Banco">
            </div>
        <p>
            <strong>Tarjeta de credito Estudiantes.</strong>
            Disfruta de un cupo accesible sin cuotas de manejo ni intereses. 
            Además, aprovecha descuentos exclusivos en tus lugares favoritos, desde librerías hasta cafés. 
            Maneja tu dinero con libertad y ahorra mientras estudias.<br> <br>   
              <strong>Tarjeta de credito Plus</strong>
              Haz que cada compra cuente: acumula puntos con cada gasto y canjéalos por increíbles beneficios exclusivos.
              Además, disfruta de promociones especiales que te harán ahorrar en tus compras favoritas. <br><br>
              <strong>Tarjeta de credito Premium</strong>
              Disfruta de beneficios exclusivos, una alta capacidad de crédito y recompensas que se adaptan a tu estilo de vida.
               La tarjeta ideal para quienes buscan más y mejor.
        </p>

        <button (click)="tarjetaEstudiantes()">Texto</button>
        <button (click)="tarjetaPlus()">Texto</button>
        <button (click)="tarjetaPremium()">Texto</button>

      </div>
    </section>
</section>

