<section class="products">
    <h1>{{ 'products.title' | translate }}</h1> <!-- Usar el pipe de translate -->
    <section class="productsBanner">
      <div class="productsBannerTexto">
            <div class="product">
                <div class="imgBanner">
                    <img src="tarjeta estudiantes.png" alt="{{ 'productscardStudent' | translate }}">
                </div>
                <strong>{{ 'products student Card' | translate }}</strong><br>
                <p>{{ 'products.cardStudentDescription' | translate }}</p>
                <button class="btn btnVerde" (click)="tarjetaEstudiantes()">{{ 'products.request' | translate }}</button>
            </div>
            <div class="product">
                <div class="imgBanner">
                    <img src="tarjeta plus.png" alt="{{ 'products.cardPlus' | translate }}">
                </div>
                <strong>{{ 'products plus Card' | translate }}</strong><br>
                <p>{{ 'products.cardPlusDescription' | translate }}</p>
                <button class="btn btnVerde" (click)="tarjetaPlus()">{{ 'products.request' | translate }}</button>
            </div>
            <div class="product">
                <div class="imgBanner">
                    <img src="Tarjeta Premium.png" alt="{{ 'products.cardPremium' | translate }}">
                </div>
                <strong>{{ 'products premium Card' | translate }}</strong><br>
                <p>{{ 'products.cardPremiumDescription' | translate }}</p>
                <button class="btn btnVerde" (click)="tarjetaPremium()">{{ 'products.request' | translate }}</button>
            </div>
      </div>
    </section>
</section>
