<section class="products">
  <h1>Nuestros productos!</h1>
  <section class="productsBanner">
  </section>

   <div *ngIf="loading == true" class="spinner">Cargando...</div>
   <div *ngIf="error" class="error-message">
       {{ error }}
    </div>
  <div class="productsBannerTexto">
    <div class="product" *ngFor="let product of products">
      <div class="imgBanner">
        <img [src]="product.imageUrl" alt="{{ product.productoNombre }}" />
      </div>
      <strong>{{ product.productoNombre }}</strong
      ><br />
      <p>
        {{ product.productoDescripcion }}
      </p>
      <button class="btn btnVerde" (click)="infoComponent(product.productoId)">
        Solicitar
      </button>
    </div>
  </div>
</section>
