
h2 {
    text-align: center;
}

.btnVerde {
    display: block;
    margin-top: 3%;
    margin-left: 3.5%;
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bolder;
    transform: scale(100%);
    background-color: #859F3D;
    margin: auto;
}

.form-container {
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-select {
    background-color: #31511E;
    color: #F6FCDF;
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjZGQ0RGIiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTIgMTIiIHdpZHRoPSIxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC4yOSAzLjVsLTMuMjkgMy4yOS0zLjI5LTMuMjktMS4wNyAxLjA3TDUgOS4xNGw0LjM2LTQuMzZMOC4yOSAzLjV6IiBmaWxsPSIjRjZGQ0RGIi8+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 16px;
}

.input-group input {
    width: 45vw;
    background-color: #31511E;
    color: #f6fcdf;
}

.input-group input::placeholder {
    color: #f6fcdfb3;
}

.parametros {
    text-align: justify;
    width: 40vw;
    margin: auto;

}

.btnSubmit {
    align-items: center;
    margin: 50px;
    background-color: #31511E;
    color: #F6FCDF;
    transition: 0, 2s;
}


.form-control {
    border-radius: 20px !important;
}

.input-description {
    height: 30vh;
}

.btnVolver {
    position: absolute;
    top: 1vh;
    left: 1vw;
}


/*********************************************************
  *********************Efecto de carga**********************
  *********************************************************/

.contenedorCarga {
    --main-color: #31511E;
    --point-color: #1A1A19;
    --size: 5px;
}

textarea {
    width: 100% !important;
    background: #31511E;
    color: #f6fcdf;
}

textarea::placeholder {
    color: #f6fcdfb3;
}

textarea:focus {
    background-color: #31511E;
    color: #f6fcdf;
}


.loader,
.errorVisual {
    background-color: var(--main-color);
    overflow: hidden;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    backdrop-filter: blur(5px);

    border-radius: 40px;
    animation: acercarse .6s ease-in-out;

}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

/*********************************************************
  **********************Error visual************************
  *********************************************************/

.errorVisual {
    background-color: #859F3Dd5;
    flex-direction: column;
}

.salida {
    animation: alejarse 1s;
}


@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

@keyframes acercarse {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

@keyframes alejarse {
    from {
        scale: 1;
    }

    to {
        scale: 0;
    }
}