<section class="plus">
    <h1>Proceso de solicitud de tarjeta de credito Plus</h1>
    <section class="plusBanner">
      <div class="plusBannerTexto">
          <p>
            ¡Tu Tarjeta de Crédito plus Te Espera! 🎓💳

            Con la Tarjeta de Crédito plus de Banco Centauros, disfruta de un límite de crédito 
            adaptado a tus necesidades 💰, descuentos exclusivos 🛍️ y beneficios pensados para ti 🎉. 
            ¡Solicítala ahora y empieza a aprovechar todo lo que te ofrecemos! 🚀.<br> <br>   
          </p>

          <button class="btnTarjetaPlus" (click)="solicitudTarjetaEstudiantes()">Solicitar</button>
      </div>
      <div class="plusImgBanner">
          <img src="tarjeta plus.png" alt="Persona Feliz En Banco">
      </div>
    </section>
</section>
