footer {
    display: grid !important;
    align-items: start; 
    justify-content: center;
    background-color: #1A1A19;
    color: #F6FCDF;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    padding: 1rem; 
}

h4 {
    font-size: 1.0em; 
    text-align: center;
    margin-bottom: 0,5rem; 
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    margin-bottom: 1rem; 
}

a {
    color: #F6FCDF;
    text-decoration: none;
    transition: color 0.3s ease; 
}
a:hover {
    color: #31511E; 
}

footer {
    display: grid;
    gap: 2rem;
}

.pie {
    display: flex;
    color: #1A1A19;
    grid-column: 1 / -1;
    background-color: #F6FCDF;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    text-align: right;
}

.pie span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.logo {
    width: 3vw; 
}

.logo img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}
