<section class="premium">
    <h1>Proceso de solicitud de tarjeta de credito de Premium</h1>
    <section class="premiumBanner">
      <div class="premiumBannerTexto">
          <p>
            ¡Tu Tarjeta de Crédito Premium Te Espera! 🎓💳

            La Tarjeta Premium de Banco Centauros te ofrece una experiencia de lujo, con un alto límite de 
            crédito 💎, acceso a beneficios exclusivos 🏖️ y un servicio personalizado 🌟. ¡Solicítala hoy y lleva 
            tu experiencia financiera al siguiente nivel! 🔝
            <br> <br>   
          </p>

          <button class="btnTarjetaPremium" (click)="solicitudTarjetaEstudiantes()">Texto</button>
      </div>
      <div class="premiumImgBanner">
          <img src="Tarjeta Premium.png" alt="Persona Feliz En Banco">
      </div>
    </section>
</section>


