.premium{
    text-align:center;
    background-color: #F6FCDF;
    overflow: hidden;
}
.premium h1{
    padding: 4%;
    font-size: 4.5em;
}
.premiumBanner{
    padding: 3%;
    display: flex;
    text-align:left;
    align-items: center;
    justify-content: center;
    background-color: #31511E;
    margin: 30px;
    border-radius: 25px;
    color: #f6fcdf;
}

.premiumBannerTexto{
    padding-right: 4%;
}

.premiumBannerTexto h2{
    font-size: 2.4em;
}
.premiumBannerTexto strong{
    margin: 1%;
    font-size: 1.4em;
}
.premiumImgBanner{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.premiumImgBanner img{
    width: 100%;
    border-radius: 25px;
}

.btnTarjetaPremium{
    border-radius: 10px;
    background-color: #859F3D;
    font-size: 20px;
}