// body{
//     margin: 0;
// }
// .header{
//     display: grid;
//     grid-template-columns: 0.2fr 1fr 0.2fr;
//     justify-content: space-around;
//     gap: 50px;
//     background-color: #859F3D;
//     position: sticky;
//     top: 0;
//     box-shadow: 0 0 3px 2px #859F3D,
//     0 2px 10px 1px #1A1A19;
// }

// .headerCasa, .headerLogo{
//     width: 55px;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .headerCasa{
//     width: 55px;
// }
// .headerCasa img, .headerLogo img{
//     width: 100%;
// }

// ul{
//     display: flex;
//     justify-content: space-around;
//     margin: 0 auto;
// }
// ul li{
//     padding: 25px;
//     margin: 0 auto;
//     list-style: none;
//     cursor: pointer;
//     font-size: 1.2em;
//     font-weight: 600;
//     color: #1A1A19;
// }
// ul li:hover{
//     transform: scale(103%);

// }

// /*Mision y vision*/

// .valores{
//     display: grid;
// }

// .mision, .vision{
//     font-size: 3em;
//     background-color: #859F3D;
//     border-radius: 25px;
// }
