:host{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #1A1A19;
    color: #F6FCDF;
    grid-template-columns: repeat(3, 1fr);
    /* padding: calc(5vh + 5vw); */
}
h4{
    font-size: 2em;
    text-align: center;
}
li{
    list-style: none;
}
a{
    color: #F6FCDF;
    text-decoration: none;
}

.pie{
    display: flex;
    color: #1A1A19;
    grid-column: 1 / -1;
    background-color: #F6FCDF;
    text-align: right;
    justify-content: space-between;
    padding: 1%;
}
.pie span{
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 4vw;
}
.logo img{
    width: 100%;
}