<section class="interesar">
    <h4>Te puede interesar</h4>
    <ul>
        <li><a href="">Vinculo 1</a></li>
        <li><a href="">Vinculo 2</a></li>
        <li><a href="">Vinculo 3</a></li>
        <li><a href="">Vinculo 4</a></li>
        <li><a href="">Vinculo 5</a></li>
        <li><a href="">Vinculo 6</a></li>
    </ul>
</section>
<section class="legales">
    <h4>Legales</h4>
    <ul>
        <li><a href="">Vinculo 1</a></li>
        <li><a href="">Vinculo 2</a></li>
        <li><a href="">Vinculo 3</a></li>
        <li><a href="">Vinculo 4</a></li>
        <li><a href="">Vinculo 5</a></li>
        <li><a href="">Vinculo 6</a></li>
    </ul>
</section>
<section class="contacto">
    <h4>Contactanos</h4>
    <ul>
        <li><a href="">Vinculo 1</a></li>
        <li><a href="">Vinculo 2</a></li>
        <li><a href="">Vinculo 3</a></li>
        <li><a href="">Vinculo 4</a></li>
        <li><a href="">Vinculo 5</a></li>
        <li><a href="">Vinculo 6</a></li>
    </ul>
</section>
<section class="pie">
    <div class="logo">
        <img src="logo.png" alt="">
    </div>
    <span>Copyright © 2024 Grupo Centauro</span>
</section>