<footer class="footer">
  <section class="interesar">
    <h4>{{ "footer.teInteresa" | translate }}</h4>
    <ul>
      <li>
        <a href="#">{{ "footer.vinculos.1" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.2" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.3" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.4" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.5" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.6" | translate }}</a>
      </li>
    </ul>
  </section>

  <section class="legales">
    <h4>{{ "footer.legales" | translate }}</h4>
    <ul>
      <li>
        <a href="#">{{ "footer.vinculos.1" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.2" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.3" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.4" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.5" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.6" | translate }}</a>
      </li>
    </ul>
  </section>

  <section class="contacto">
    <h4>{{ "footer.contacto" | translate }}</h4>
    <ul>
      <li>
        <a href="#">{{ "footer.vinculos.1" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.2" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.3" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.4" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.5" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.vinculos.6" | translate }}</a>
      </li>
    </ul>
  </section>
</footer>
<section class="pie">
  <div class="logo">
    <img src="logo.png" alt="Logo Grupo Centauro" />
  </div>
  <span>{{ "footer.copyright" | translate }}</span>
</section>
