<!-- products.component.html -->
<div class="container">
  <!-- Título traducido -->
  <h1>{{ 'productList.title' | translate }}</h1>

  @if (loading) {
    <div class="spinner">Cargando productos...</div>
  }

  @if (error) {
    <div class="alert alert-danger">
      {{ error }}
    </div>
  }

  <!-- Tabla de productos -->
  <table class="custom-table">
    <thead>
      <tr>
        <!-- Encabezados traducidos -->
        <th>{{ 'productList.productName' | translate }}</th>
        <th>{{ 'productList.description' | translate }}</th>
        <th>{{ 'productList.timesAcquired' | translate }}</th>
        <th>{{ 'productList.productType' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (producto of productos; track producto) {
        <tr>
          <td>{{ producto.productoNombre }}</td>
          <td>{{ producto.productoDescripcion }}</td>
          <td>{{ producto.productoVeces }}</td>
          <td>{{ producto.productTipo }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>