$bgDark: #1a1a19;
$bgLight: #f6fcdf;
$colorLight: #fdfff6;
$greenLight: #859f39;
$greenDark: #31511e;
$bgDarkRgb: 26, 26, 25;
$bgLightRgb: 246, 252, 223;
$colorLightRgb: 253, 255, 246;
$greenLightRgb: 133, 159, 57;
$greenDarkRgb: 49, 81, 30;
