<section class="products">
  <h1>Nuestros productos!</h1>
  <section class="productsBanner">
  </section>

  @if (loading == true) {
    <div class="spinner">Cargando...</div>
  }
  @if (error) {
    <div class="error-message">
      {{ error }}
    </div>
  }
  <div class="productsBannerTexto">
    @for (product of products; track product) {
      <div class="product">
        <div class="imgBanner">
          <img [src]="product.imageUrl" alt="{{ product.productoNombre }}" />
        </div>
        <strong>{{ product.productoNombre }}</strong
          ><br />
          <p>
            {{ product.productoDescripcion }}
          </p>
          <button class="btn btnVerde" (click)="infoComponent(product.productoId)">
            Solicitar
          </button>
        </div>
      }
    </div>
  </section>
