<div class="container">
  <!-- Título traducido -->
  <h1>{{ 'productList.title' | translate }}</h1>

  <!-- Tabla de productos -->
  <table class="table">
    <thead>
      <tr>
        <!-- Encabezados traducidos -->
        <th>{{ 'productList.productName' | translate }}</th>
        <th>{{ 'productList.description' | translate }}</th>
        <th>{{ 'productList.timesAcquired' | translate }}</th>
        <th>{{ 'productList.productType' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.vecesAdquirido }}</td>
        <td>{{ producto.tipo }}</td>
      </tr>
    </tbody>
  </table>
</div>
