/* You can add global styles to this file, and also import other style files */

*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*::selection{
    background-color: #1A1A19;
    color: #F6FCDF;
}
body{
    background-color: #F6FCDF;
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: #1A1A19;
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background:linear-gradient( #859F3D 10%, #F6FCDF 15%)
}