:host {
    padding: 5px;
    min-height: 80vh;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 5em;
}

.detalles {
    background-color: var(--verdeoscuro);
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: var(--blanco);
    font-size: 1.4em;
    align-items: center;
    border-radius: 25px;
    justify-content: space-around;
}
.detalles p{
    min-width: 600px;
    max-width: 600px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.detalles p > strong{
    font-weight: 700;
}
.imgProduct{
    min-width: 400px;
    max-width: 700px;
}
.imgProduct img{
    width: 100%;
}

@media (max-width:1400px){
    ::host{
        margin-top: 1001vh;
    }
    .detalles{
        display: flex;
        justify-content: center;
        font-size: 1.8em;
    }
    h1{
        font-size: 3em;
    }
}