<p *ngIf="loading == true" class="spinner">
  {{ 'producto.cargando' | translate }}
</p>

<div *ngIf="error" class="error-message">
  {{ 'producto.error' | translate }}: {{ error }}
</div>

<div class="product" *ngIf="product">
  <h1>
    {{ 'producto.detallesTarjeta' | translate }} {{ product.productTipo }} <br />
    {{ product.productoNombre }}
  </h1>
  <div class="detalles">
    <br />
    <p>
      <strong>{{ product.productoNombre }}:</strong>
      {{ product.productoDescripcion }}
    </p>
    <div class="imgProduct">
      <img [src]="product.imageUrl" alt="{{ product.productoNombre }}" />
    </div>
  </div>
  <button class="btn btnVerde" (click)="cargarProducto(product.productoId)">
    {{ 'producto.solicitar' | translate }}
  </button>
</div>
